/* section2 */
.create {
  padding: 10px;
  background-color: #020a2bfb;
  max-width: 60%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 10px 5px rgba(255, 174, 0, 0.61);
}

.title {
 color: white;
 font-size: 2.2rem;
}

.btn button:hover {
    transition: 0.4s;
    filter: brightness(3);
}
